*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 20px;
  background: linear-gradient(90deg, rgba(221,117,181,1) 16%, rgba(121,110,233,1) 51%, rgba(49,181,228,1) 100%);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-top: 0px;
  color:black; 
}


.namecard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
}

.quotecard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: flexbox;
  text-align: center;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  display: block;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.namebtn {
  border: none;
  background-color: hsl(260, 63%, 46%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.quotebtn {
  border: none;
  background-color: hsl(260, 63%, 46%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}



#generate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #generate {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
