html, footer,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 20px;
  background: linear-gradient(90deg, rgba(221,117,181,1) 16%, rgba(121,110,233,1) 51%, rgba(49,181,228,1) 100%);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-top: 0px;
  color:rgb(0, 0, 0); 
}

.namecard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
}

.quotecard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
}

/* Where api info will be displayed in cards. */
.card-body {
  color: rgb(31, 2, 88);
  font-size: larger;
}

/* Centers the button displays.*/
.card-footer {
  text-align: center;
  display: block;
}

.namebtn {
  border: none;
  background-color: hsl(260, 63%, 46%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.quotebtn {
  border: none;
  background-color: hsl(260, 63%, 46%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

footer{
  color: rgb(0, 0, 0);
  font-size: x-large;
}

/*  footer links */
a:link, a:visited, a:hover, a:active {
  color: rgb(29, 18, 18);
  text-decoration: underline;
}
